* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
}

/***UTILITIES***/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0
}

.d-flex {
    display: flex;
}

.f-bold {
    font-weight: bold;
}

.f-primary {
    color: #057FF7
}

.p-0 {
    padding: 0px;
}


/***HEADER***/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0px;

    img {
        width: 90px;
    }

    nav {
        height: 100%;
        display: flex;
        align-items: center;
    }

    ul {
        display: flex;
        height: 100%;
        align-items: center;

        li:hover a {
            color: #0282F9;
        }

        li:hover a::after {
            content: '';
            width: 100%;
            position: absolute;
            bottom: 0;
            background-color: #0282F9;
            height: 4px;
        }

        li {
            position: relative;
            margin-right: 25px;
            height: 100%;

            a {
                color: #7B6658;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 0.7rem;
                height: 100%;
                display: flex;
                align-items: center;

            }
        }
    }

}

/***MAIN***/
/***JUMBOTRON***/

main {
    background-color: #1C1C1C;
    color: white;
    padding: 30px 0;
    padding-top: 0px;

    div.container {
        flex-wrap: wrap;
    }

    .card {
        width: calc(100% / 6);
        padding: 10px 10px;
    }

    .btn {
        justify-content: center;

        .blue-tag {
            color: white;
            background-color: #0282F9;
            font-weight: bold;
            font-size: 0.7rem;
            padding: 7px 50px;
            margin-top: -15px;
        }
    }

    .blue-tag-series {
        position: relative;
        top: -587px;
        font-size: 1.5rem;
        color: white;
        background-color: #0282F9;
        font-weight: bold;
        padding: 7px 25px;
    }

    #jumbotron {
        background-image: url('../jumbotron.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 400px;
        margin-bottom: 30px;
        position: relative;

    }

    .card-image {
        width: 185px;
        height: 185px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }

    p {
        padding-top: 20px;
    }
}

/***FOOTER***/
footer h3 {
    color: white;
    font-size: 0.9rem;
    padding-top: 15px;
    padding-bottom: 10px;
}

footer li {
    padding: 0px;

    a {
        color: #959595;
        font-size: 0.6rem;
    }
}

#merchandise {
    background: #0282F9;
    padding: 20px 0;
}

section#merchandise div.container {
    justify-content: space-Around;
    align-items: center;
    padding: 30px 0;

    span {
        color: white;
        margin-left: -60px;
        font-size: 0.8rem;
    }
}

#footer-menu {
    display: flex;
    max-height: 370px;
    padding: 0;
    justify-content: space-between;
    min-width: 1200px;
}


#menu {
    background-image: url(../src/assets/img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

footer section#merchandise img {
    width: 55px;
    height: 60px;
    object-fit: contain;
}

.left-footer .footer-col {
    padding-top: 20px;
    padding-right: 40px;
}

.footer-col-dc {
    overflow: hidden;

    img {
        position: relative;
        top: -94px;
    }
}


#cta {
    background-color: #303030;

    .container {
        justify-content: space-between;
        align-items: center;
    }

    div.footer-col ul {
        justify-content: center;
        align-items: center;
    }

    div.footer-col li {
        position: relative;
        bottom: -2px;
        padding: 10px 10px;


        a h3 {
            color: #0282F9;
        }
    }

    div.footer-col li:not(:first-child) {
        position: relative;
        bottom: -2px;
    }
}

.sign-up h3 {
    border: solid 2px #0282F9;
    padding: 15px
}

#follow {
    color: #0282F9;
    display: flex;
    align-items: center;
    padding-right: 20px;
}